a.tooltip {
    text-decoration: none;
    border-bottom: 1px dotted white;
    outline:none;
    font-weight: normal;
}
a.tooltip .text {
    color: white;
    font-size: smaller;
    cursor: default;
}
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip .popup {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
}
a.tooltip:hover .popup{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
    
/*CSS3 extras*/
a.tooltip .popup
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

#disqus_thread.unclicked {
    background-color: #944337;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    height: 40px;
    text-align: center;
}

#disqus_thread {
    margin-top: 10px;
    width: 100%;
}