---
layout: default
---

{% if page.author != null %}
	{% assign author = site.data.authors[page.author] %}
{% else %}
	{% assign author = site.data.authors['dan-nemec'] %}
{% endif %}

<article itemscope itemtype="http://schema.org/BlogPosting">
<header>
<h1 itemprop="name">{{ page.title }}</h1>
<h4>By <a rel="author">{{ author.name }}</a></h4>
<p class="meta">
	<time class="post-date" itemprop="datePublished" pubdate datetime="{{ page.date | date: '%Y-%d-%m' }}">{{ page.date | date_to_string }}</time>
</p>


{% if page.headerImage %}
<figure class="header-image">
	<img src="{{ site.url }}/images/{{ page.headerImage }}" alt="Post header image"/>
	{% if page.headerImageAttrib %}
	<span class="attribution">
		<cite>{{ page.headerImageAttrib }}</cite>
	</span>
	{% endif %}
</figure>
{% endif %}

{% if page.editNotes %}
<ul class="edit-notes">
	{% for editNote in page.editNotes %}
	<li>{{ editNote }}</li>
	{% endfor %}
</ul>
{% endif %}
</header>

<div class="post">
{{ content }}
</div>

<footer>
<div class="share">  
{% if page.shortlink != null %}
<input type="text" name="shortlink" id="shortlink" onclick="this.select()" readonly
	value="{{ page.shortlink }}" />
{% endif %}
</div>

<script type="text/javascript" src="/js/lightbox.js"></script>
<link rel="stylesheet" href="/css/lightbox.css">
</footer>
</article>