---
layout: default
---

{% if page.author != null %}
	{% assign author = site.data.authors[page.author] %}
{% else %}
	{% assign author = site.data.authors['dan-nemec'] %}
{% endif %}

<h1>{{ page.title }}</h1>
<h4>By {{ author.name }}</h4>
<p class="meta">{{ page.date | date_to_string }}</p>


{% if page.headerImage %}
<div class="header-image">
	<img src="{{ site.url }}/images/{{ page.headerImage }}"/>
	{% if page.headerImageAttrib %}
	<span class="attribution">{{ page.headerImageAttrib }}</span>
	{% endif %}
</div>
{% endif %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
{{ content }}
</article>

<div class="share">
  <div class="g-plusone" data-size="medium" data-href="{{ site.url }}{{ page.url }}"></div>
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/platform.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  
  <script type="text/javascript">
      reddit_url = "{{ site.url }}{{ page.url }}";
      reddit_title = "{{ page.title }}";
  </script>
  <script type="text/javascript" src="https://www.reddit.com/buttonlite.js?i=5"></script>
  
  {% if page.shortlink != null %}
  <input type="text" name="shortlink" id="shortlink" onclick="this.select()" readonly
    value="{{ page.shortlink }}" />
  {% endif %}
</div>

<div id="disqus_thread" class="comments unclicked">
	<span>Click to display comments.</span>
	<a onclick="return false" class="tooltip">
		<span class="text">Why?</span>
		<span class="popup">
			Many hosted comment systems use their reach to track users as they browse,
			similar to how Facebook like buttons can see when you load a page that
			embeds the button. That information is used to feed you targeted ads (among
			other things). Disqus will not be contacted until you open the comments.
		</span>
	</a>
</div>