---
layout: default
---

{% if page.author != null %}
	{% assign author = site.data.authors[page.author] %}
{% else %}
	{% assign author = site.data.authors['dan-nemec'] %}
{% endif %}

<h1>{{ page.title }}</h1>
<h4>By {{ author.name }}</h4>
<p class="meta">{{ page.date | date_to_string }}</p>


{% if page.headerImage %}
<div class="header-image">
	<img src="{{ site.url }}/images/{{ page.headerImage }}" alt="Post header image"/>
	{% if page.headerImageAttrib %}
	<span class="attribution">{{ page.headerImageAttrib }}</span>
	{% endif %}
</div>
{% endif %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
{{ content }}
</article>

<div class="share">  
  {% if page.shortlink != null %}
  <input type="text" name="shortlink" id="shortlink" onclick="this.select()" readonly
    value="{{ page.shortlink }}" />
  {% endif %}
</div>

<script type="text/javascript" src="/js/lightbox.js"></script>
<link rel="stylesheet" href="/css/lightbox.css">